@charset "UTF-8";

body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1rem;
}

body > .main > .form {
    width: 25rem;
    align-items: stretch;
    display: none;
    flex-direction: column;
    justify-content: center;
}

body > .main > .form.visible {
    display: flex;
}

body > .main > .form > * + * {
    margin-top: 0.625rem;
}

body > .main > .form > .title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

body > .main > .form > .desc {
    line-height: 150%;
    margin-bottom: 1.5rem;
    text-align: justify;
}

body > .main > .form > .warning {
    color: rgb(231, 76, 60);
    display: none;
}

body > .main > .form > .warning.visible {
    display: block;
}

body > .main > .result {
    width: 50rem;
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .result.visible {
    display: flex;
}

body > .main > .result > .title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

body > .main > .result > .desc {
    line-height: 150%;
    margin-bottom: 1.5rem;
    text-align: justify;
}

body > .main > .result > .link-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .result > .link-container > * + * {
    margin-left: 1rem;
}

body > .main > .result > .link-container > .link {
    color: rgb(255, 255, 255);
    padding-right: 4rem;
    padding-left: 4rem;
}